.gameboard {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  border-radius: 2%;
  background: #00b7ff;
  background: linear-gradient(bottom left,#00b7ff,#ffffc7);
  background: -webkit-linear-gradient(bottom left,#00b7ff,#ffffc7);
  background: -moz-linear-gradient(bottom left,#00b7ff,#ffffc7);
}
.grid-item {
  border-radius: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
}
img {
  max-width: 85%;
}
header {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}
.grey {
    content:url('/images/grey.png');
}
