.gameboard {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  border-radius: 2%;
  background: #00b7ff;
  background: linear-gradient(bottom left,#00b7ff,#ffffc7);
  background: -webkit-linear-gradient(bottom left,#00b7ff,#ffffc7);
  background: -moz-linear-gradient(bottom left,#00b7ff,#ffffc7);
  max-height: 55em;
  max-width: 55em;
  margin: auto;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.grid-item {
  border-radius: 25%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
}
img {
  max-width: 85%;
}

.grey {
  content:url('/images/grey.png');
}
h1 {
  text-align: center;
}
#moves {
  display: inline-block;
  margin: 0 25px;

}
.stars {
  margin: 0;

}
#replay {
  content:url('/images/Replay.svg');
  width: 1em;
  display: inline-block;
}
#starsnmoves {
  text-align: center;
}



#Layer_1-2 {
  fill: #333;
}

#innerStar{
  fill: #333;
}

#Layer_1-3 {
  fill: #333;
}

#innerStar1{
  fill: #333;
}
#Layer_1-4 {
  fill: #333;
}

#innerStar2{
  fill: #333;
}

























@media screen and (max-width : 360px)
{
  #moves
  {
    font-size: 1.2em !important;
  }
}
@media screen and (min-width : 768px)
{
  h1 {
    font-size: 3em;
  }
  #moves
  {
    font-size: 1.3em;
  }
  #replay {
    width: 1.3em;
  }
  .stars {
    width: 1.6em;
  }
}
@media screen and (min-width : 1040px)
{
  h1 {
    font-size: 3.5em;
  }
  #moves
  {
    font-size: 1.6em;
  }
  #replay {
    width: 1.3em;
  }
  .stars {
    width: 1em;
  }
}
